<ion-header [translucent]="true">
  <ion-toolbar class="none">
    <ion-title class="title">
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="color">
    <div class="flex">
      <div class="div" *ngFor="let a of arr" (click)="show(a.url)">
        <ion-card class="card">
          <ion-card-title>
            {{a.name}}
          </ion-card-title>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
